p {
  background-color: #179595;
}
.project-card {
  margin: 5px; 
  width: 25%; 
  float: right; 
  border: 4px solid #007e7e;
  background-color: #008b8b;
}
h1 {
  text-align: center;
  padding-top: 5px;
}
