.sidenav { 
    height: 100%; 
    width: 20%; 
    position: fixed; 
    z-index: 1; 
    top: 0px;
    right: 0px; 
    background-color: rgb(17, 17, 17); 
    overflow-x: hidden; 
    padding-top: 20px; 
}

        body { 
            background-color: rgb(34, 189, 34);
			
			margin-right: 16%;
			margin-top: 10%;
        }
            #main {
                text-align: center;
            }
            img {
                width: 30%;
            }
			.sidenav p {
  				padding: 0px 8px 6px 16px;
 			 	text-decoration: none;
  			 	font-size: 15pt;
 				color: #818181;
 				display: block;
}
